@page
@model MascotaFeliz.App.Frontend.Pages.ListaMascotaModel
@{
}

<div class="table-container">
    <a class="btn-new" asp-page=".\EditarMascota">Agregar Nueva Mascota</a>
    <h1 class="heading">Lista Mascotas</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Color</th>
                <th>Especie</th>
                <th>Accion</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var mascota in Model.listaMascota)
            {
                <tr>
                    <td data-label="Nombre">@mascota.Nombre</td>
                    <td data-label="Color">@mascota.Color</td>
                    <td data-label="Especie">@mascota.Especie</td>

                    <td data-label-accion="Accion">
                        <a class="btn" asp-page=".\DetalleMascota" asp-route-mascotaId="@mascota.Id">Detalle
                        </a>
                        <a class="btn" asp-page=".\EditarMascota" asp-route-mascotaId="@mascota.Id">Editar
                        </a>
                        <a class="btn-del" asp-page=".\DeleteMascota" asp-route-mascotaId="@mascota.Id">Borrar
                        </a>
                    </td>
                </tr>

            }
    </table>
    </tbody>

</div>
