@page
@model MascotaFeliz.App.Frontend.Pages.ListaDuenosModel
@{
}


<div class="table-container">
    <a class="btn-new" asp-page=".\EditarDuenos">Agregar Nuevo Dueño</a>
    <h1 class="heading">Lista Duenos</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Direccion</th>
                <th>Telefono</th>
                <th>Email</th>
                <th>Accion</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var dueno in Model.listaDuenos)
            {
                <tr>
                    <td data-label="Nombre">@dueno.Nombres</td>
                    <td data-label="Apellido">@dueno.Apellidos</td>
                    <td data-label="Direccion">@dueno.Direccion</td>
                    <td data-label="Telefono">@dueno.Telefono</td>
                    <td data-label="Email">@dueno.Correo</td>

                    <td data-label-accion="Accion">
                        <a class="btn" asp-page=".\DetalleDuenos" asp-route-duenoId="@dueno.Id">Detalle
                        </a>
                        <a class="btn" asp-page=".\EditarDuenos" asp-route-duenoId="@dueno.Id">Editar
                        </a>
                        <a class="btn-del" asp-page=".\DeleteDueno" asp-route-duenoId="@dueno.Id">Eliminar
                        </a>
                    </td>
                </tr>

            }
    </table>
    </tbody>

</div>
